<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Žirafa</title>
</head>
<body>
    <h1>Stránka o žirafě</h1>
    <p>Tohle je žirafa.</p>
    <p>Žirafa má dlouhý krk.</p>
    <p>Žirafa se jmenuje {{ jmeno|lower }}.</p>
    <p>Její oblíbené jídlo je {{ jídlo|upper }}.</p>
    <p>Žirafě je {{ vek }} let.</p>
    <p>{{ veta|cut:" " }}</p>
    <p>{{ slovo|phone2numeric }}</p>
    <p>{{ cislo|add:4 }}</p>
    <p>{{ cislo_jako_string|add:"4" }}</p>
    <p>{{ slovo|add:" a šimpanz" }}</p>
    <p>{{ slovo|make_list }}</p>
    <p>{{ slovo.3 }}</p>
    <p>{{ slovo|capfirst }}</p>
    <p>Délka slova je {{ slovo|length }}.</p>
    <p>Celý seznam je {{ seznam_slov }}.</p>
    <p>První prvek seznamu je {{ seznam_slov|first }}.</p>
    <p>Poslední prvek seznamu je {{ seznam_slov|last }}.</p> 
    <p>Prostřední prvek seznamu je {{ seznam_slov.1 }}.</p> 
    <p>Dnes bude slunečno: {{ pravda|yesno:"ano,ne" }}</p>
    <p>Zítra bude {{ lez|yesno:"slunečno,deštivo" }}</p>
    <p>V zoo máme {{ pocet_orangutanu }} orangutan{{ pocet_orangutanu|pluralize:"a,ů" }}.</p>



</body>
</html>